.weather-forecast {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.forecast-date {
  font-size: 15px;
}

.forecast-temp {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.6;
}
